<section class="latest-products">
    <div class="wrapper">
        <h2 class="headline h4">Latest Products</h2>
        <ul class="gallery">
            <li>
                <div class="image-wrapper">
                    <img src="/fashionNewsProducts1.jpg" alt="Latest Product">
                </div>
                <span class="description">Floral Dress</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="/fashionNewsProducts2.jpg" alt="Latest Product">
                </div>
                <span class="description">Maya Dress</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="/fashionNewsProducts3.jpg" alt="Latest Product">
                </div>
                <span class="description">New Look Jacket</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="/fashionNewsProducts4.jpg" alt="Latest Product">
                </div>
                <span class="description">Tulle Skirt</span>
            </li>
        </ul>
    </div>
</section>