<section class="spring-collection">
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <h2 class="headline h3">Spring Collection</h2>
                <p>
                    Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                </p>
                <button class="button" type="button">VIEW COLLECTION</button>
            </div>
            <div class="image-wrapper">
                <img src="/fashionNewsSpringCollection.jpg" alt="Spring Collection">
            </div>
        </div>
    </div>
</section>