<header class="staging">
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="key-headline">
                    <span>FASHION NEWS</span>
                    <h1 class="headline h2">Summer Wear</h1>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices, sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices
                </p>
                <button class="button" type="button">SHOW MORE</button>
            </div>
            <div class="image-wrapper">
                <img src="/fashionNewsStaging.jpg" alt="Opening Picture">
            </div>
        </div>
    </div>
</header>